# secrets
# .env

# Виртуальные окружения и кэш Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Docker-специфичные файлы
docker-compose.yml
.dockerignore

# ML-специфичные файлы
*.ipynb
catboost_info/
*.csv

id_ed2219
id_ed2219.pub