version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    working_dir: /app
    env_file:
      - .env  # Подключаем все переменные из .env файла
    environment:
      - DB_HOST=postgres  # Переопределяем для работы внутри Docker-сети
    volumes:
      - C:/Users/Asus/.ssh/id_ed25519:/home/appuser/.ssh/id_ed25519
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/main/"]
      interval: 30s
      timeout: 10s
      retries: 3

  postgres:
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"  # Пробрасываем порт для подключения с хоста
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: